.themify_builder .plain-text-33-0-0-0.module-plain-text{background-repeat: repeat; background-position: left top; padding-top:100px; }
.themify_builder .plain-text-33-0-0-1.module-plain-text{background-repeat: repeat; background-position: left top; }
.themify_builder .gallery-33-1-0-0.module-gallery{background-repeat: repeat; background-position: left top; padding-right:30px; padding-left:30px; }
