.themify_builder .plain-text-11-0-0-0.module-plain-text{background-repeat: repeat; background-position: left top; padding-top:100px; }
.themify_builder .plain-text-11-0-0-1.module-plain-text{background-repeat: repeat; background-position: left top; }
.themify_builder_11_row.module_row_1.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder_11_row.module_row_1.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
